.quote-mobile {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 76px;
}
.quote-mobile p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 16px;
}
.quote-mobile img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 12px;
}
.quote-mobile span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #8B8E8F;
}
.quote-mobile .quote-user p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #8B8E8F;
    margin: 0;
}