@media (max-width: 1224px) {
    div.faq {
        padding: 0 20px;
        height: auto;
    }  
    div.faq-content {
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    div.faq-items {
        margin: auto;
    }
    div.faq-about {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 50px;
    }
    div.faq-about svg {
        margin: 0;
        margin-top: 20px;
    }
}
.faq {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 48px;
}
.faq-content {
    height: 494px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-about {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.faq-about svg:hover {
    fill: #373737;
}
.faq-about svg {
    margin-top: 24px;
    fill: #1E1E1E;
}
.faq-about p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #8B8E8F;
    margin: 0;
}
.faq-items {
    width: 584px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.faq-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 40px;
}
.faq-item-q {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.faq-item-q:hover {
    cursor: pointer;
}
.faq-item-q p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 0;
}
.faq-item svg {
    min-width: 32px;
    fill: #8B8E8F;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.faq-item-mobile svg {
    min-width: 32px;
    fill: #8B8E8F;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.faq-item-mobile:hover svg {
    fill: #FFFFFF;
}
.faq-item:hover svg {
    fill: #FFFFFF;
}
.answ-active-1 svg {
    fill: #FFFFFF;
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
}
.answ-active-2 svg {
    fill: #FFFFFF;
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
}
.answ-active-3 svg {
    fill: #FFFFFF;
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
}
.answ-active-4 svg {
    fill: #FFFFFF;
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
}
.answ-active-5 svg {
    fill: #FFFFFF;
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
}
.faq-answer {
    display: none;
    width: 552px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #8B8E8F;
    margin: 0;
    margin-top: 12px;
}
.answ-active-1 .faq-answer{
    display: block;
}
.answ-active-2 .faq-answer{
    display: block;
}
.answ-active-3 .faq-answer{
    display: block;
}
.answ-active-4 .faq-answer{
    display: block;
}
.answ-active-5 .faq-answer{
    display: block;
}